/* .img-container {
  width: 350px;
  height: 300px;
  object-fit: cover;
}
.users-list-container {
  gap: 20px;
  margin: 20px;
  margin-right: 100px;
  border-radius:  40px;
  width: 350px;
  height: 600px;
   
 
}
.users {
  display: flex;
  flex-wrap: wrap;
}
.details-container {
  background-color: darksalmon;
}
.name-container {
  color: mediumvioletred;
}
.profession-container {
  color: darkviolet;
}
.edit-container {
  color: darkviolet;
  cursor: pointer;
}
.place-container {
  color: deeppink;
}
.quotes-container {
  color: indianred;
}
.delete-container {
  color: red;
 cursor: pointer;
}
.users-list-container :hover{
  transform: scale(1.1);
} */