.img-container {
  height: 300px;
  width: 300px;
  object-fit: cover;
}
.users {
  display: flex;
  gap: 20px;
  margin: 40px;
  border-radius: 20px;
}

.edit-icon-container {
  position: relative;
  right: 130px;
  color: slateblue;
  cursor: pointer;
}
.img-container:hover {
  transform: scale(1.1);
}
