.img-container {
  height: 300px;
  width: 300px;
  object-fit: cover;
}
.users {
  display: flex;
  gap: 20px;
  margin: 40px;
  border-radius: 20px;
 
}
.name-container{
    background-color: beige;
}
.edit-icon{
   position: relative;
  right:130px ;
  color:slateblue;
}